<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EZTutor.Data.Remote.Properties.Settings.eztutorConnectionString"
            connectionString="Data Source=MELDEEB-NB61-DN\SQLEXPRESS;Initial Catalog=eztutor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>